.menu-fixo {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .Menu {
    position: fixed;
    top: 60px;      
    left: 0;
    width: 200px;  
    height: 60%;  
    background-color: black;
    color: whitesmoke;
    padding: 15px;
    
  }
  
  .conteudo {
    margin-left: 220px;
    padding: 30px;
    padding-top: 90px;
  
    flex: 1;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: block;  
    background: white;
   
  }
  
  .conteudo p {
    margin-bottom: 20px;
  }
