.titulo{
    background-color: darkred; 
    color: orange; 
    align-content:center;  
    text-align: center; 
    width:100%;
    height:60px;
    position:fixed;
}
 


.Promocao{
   
display: inline-block;
background-color:bisque;
width:300px;
height:100px;
padding:5px;
text-align: center;
margin-left:70px;
align-content:center;

}
.cardapio{
    display: inline-block;
background-color:bisque;
width:300px;
height:100px;
padding:5px;
text-align: center;
margin-left:10px;
align-content:center;

}
.reserva{
    display: inline-block;
    background-color:bisque;
    width:300px;
    height:100px;
    padding:5px;
    text-align: center;
    margin-left:75px;
    align-content:center;
    
}
.Portal{

    display: inline-block;
background-color:bisque;
width:300px;
height:100px;
padding:5px;
text-align: center;
margin-left:70px;
align-content:center;

}   



a{
    text-decoration: none;
    color:brown;
    font-size:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


tr:nth-child(even) {
    background-color: red;
}
h3{
    text-align: center;
    font-size: 50px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
body{
    background-color: white;
}
