.caixa1{
    width:400px;
    height:300px;
    position: relative;
    background-color: aqua;
}
.caixa2{
    width:200px;
    height:150px;
    position: absolute;
    bottom:0px;
    right:0px;
    background-color: red;
}