.caixa-maior {
    width: 400px;
    height: 300px;
    background-color: lightblue;
    padding: 20px; 
  
  }
  
  .caixa-menor {
    width: 200px;
    height: 100px;
    background-color: rebeccapurple;
    margin: 30px; 
    padding:50px;
  }
  